<div class="container">

  <form class="offset-1 offset-md-2 m-5 text-center" (ngSubmit)="newMessage(message.value)" #message="ngForm">
    <div class="row mb-5">
      <p class="col-5 text-color">Nom Prénom</p>
      <input class="col" type='text' placeholder="Nom et Prénom" name="author" ngModel>
    </div>
    <div class="row mb-5">
      <p class="col-5 text-color">Message</p>
      <textarea class="col" type='text' placeholder="Votre demande" name="content" ngModel></textarea>
    </div>
    <button class='btn btn-success' type="submit">Envoyer votre message</button>
  </form>


</div>
