<div class="container d-flex text-center">

  <div class="form-sec m-5">
    <h4>Contactez-nous</h4>

    <form name="qryform" id="qryform" method="post" action="mail.php" onsubmit="return(validate());"
      novalidate="novalidate">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" id="name" placeholder="Enter Email" name="email">
      </div>

      <div class="form-group">
        <label>Numéro de téléphone</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter Phone no." name="phone">
      </div>
      <div class="form-group">
        <label>Mon message</label>
        <input type="text" class="form-control" id="name" placeholder="Subject" name="subject">
      </div>
      <button type="submit" class="btn btn-default">Envoyer</button>
    </form>
  </div>


</div>
