<div class="row d-flex justify-content-center ">

  <ng-container *ngFor="let message of messages; let i = index">
    <div class="card text-white text-center bg-secondary m-3 col-4">
        <div class="card-header">Message n°{{i}}</div>
        <div class="card-body">
          <h5 class="card-header">Auteur:</h5>
          <p class="card-text"> {{message.author}}</p>
          <h5 class="card-header">Message:</h5>
          <p class="card-text">{{message.content}}</p>
        </div>
      </div>
    </ng-container>

</div>