<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #7f82859d;">
  <a class="navbar-brand" [routerLink]="[ '' ]">Wild Circus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '' ]">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'shows' ]">Spectacles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'artists' ]">Artistes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'booking' ]">Réservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'contact' ]">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
