<nav *ngIf="isShow" class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #7f82859d;">
  <a class="navbar-brand" [routerLink]="[ '' ]">Wild Circus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '' ]">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'shows' ]">Spectacles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'artists' ]">Artistes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'booking' ]">Réservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ 'contact' ]">Contacts</a>
      </li>
    </ul>
  </div>
</nav>


<div *ngIf="!isShow" class="side-nav sideNaveOpen ">
  <a class="nav-link" aria-hidden="true" [routerLink]="[ 'messageAdmin' ]">
      Messages</a>
  <a class="nav-link" aria-hidden="true" [routerLink]="[ 'bookingAdmin' ]"> Réservations</a>
  <a class="nav-link" aria-hidden="true" [routerLink]="[ 'artistAdmin' ]"> Artistes</a>
  <a class="nav-link" [routerLink]="[ '' ]" (click)="admin()">Deconnexion</a>
</div>

<div class="mainOpen">
  <router-outlet></router-outlet>
</div>

<app-footer (adminCon)="showNavbar($event)"></app-footer>
