<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7f8285;">
  <a class="navbar-brand" href="#">Wild Circus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Spectacles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artistes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Réservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
