<footer class="container-fluid d-flex  justify-content-center mt-4">
  <div class="row mt-3">
    <div class="col-sm-2">
      <h3>Wild Circus</h3>
    </div>


    <div class="col-sm-8 footer-center ">
      <div class="row">
        <div class="col-sm-4 text-center">
          <p>25 rue des Acacias</p>
          <p>25000 Besançon</p>
        </div>
        <div class="col-sm-4 text-center">
          <p>02 05 05 04 08</p>
        </div>
        <div class="col-sm-4 text-center">
          <p><a href="mailto:wildcircus@circus.com">wildcircus@circus.com</a></p>
        </div>
      </div>
    </div>


    <div class="col-sm-2">
      <div class="row justify-content-center">
        <a class="btn btn-secondary" class="nav-link" [routerLink]="[ 'bookingAdmin' ]" (click)="admin()">Connexion</a>
      </div>
    </div>
  </div>
</footer>
