/* You can add global styles to this file, and also import other style files */


body{
   background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
   background-size: cover;
   height: 100%;
   width: 100%;
   font-family: 'Literata', serif;
}



